*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.GallaryOne{
    margin-top: 35vh;
    padding: 5rem;
}

.col-lg-7{
    background:linear-gradient(0deg, rgba(118, 117, 117, 0.3), rgba(118, 117, 117, 0.3)), url(../img/gallary1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.col-lg-7 h3{
    color: white;
    font-size: 40px;
    border-bottom: 4px solid rgba(255, 128, 0, 0.758);
}

.col-lg-5 {
    height: 400px;
    border-radius: 10px;
}

.col-lg-5 .col-1{
    background:linear-gradient(0deg, rgba(118, 117, 117, 0.3), rgba(118, 117, 117, 0.3)), url(../img/gallary2.jpg);
    background-size: cover;
    width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.col-lg-5 .col-1 h3{
    color: white;
    font-size: 40px;
    border-bottom: 4px solid rgba(255, 128, 0, 0.758);
}

.col-lg-5 .col-2 h3{
    color: white;
    font-size: 40px;
    border-bottom: 4px solid rgba(255, 128, 0, 0.758);
}


.col-lg-5 .col-2{
    background:linear-gradient(0deg, rgba(118, 117, 117, 0.3), rgba(118, 117, 117, 0.3)), url(../img/gallary3.jpg);
    background-size: cover;
    width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width:1024px){
    .GallaryOne{
        margin-top: 65vh;
        padding: 2rem;
    }

    .col-lg-7{
       margin-bottom: 5px;
    }

    .col-lg-7 h3{
        color: white;
        font-size: 30px;
        border-bottom: 4px solid rgba(255, 128, 0, 0.758);
    }

    .col-lg-5 .col-1 h3{
        color: white;
        font-size: 30px;
        border-bottom: 4px solid rgba(255, 128, 0, 0.758);
    }

    .col-lg-5 .col-2 h3{
        color: white;
        font-size: 30px;
        border-bottom: 4px solid rgba(255, 128, 0, 0.758);
    }
}

.circle-contaner{
    margin-left: 100px;
}

.circle{
    width: 200px;
    height: 200px;
    background-color: rgb(2, 77, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

@media screen and (max-width:1024px){
    .circle-contaner{
        display: none;
    }
}