.home{
    background:linear-gradient(0deg, rgba(118, 117, 117, 0.3), rgba(118, 117, 117, 0.3)), url(../img/homebg.jpg);
    width: 100%;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-contents{
    width: 80%;
    margin: 0 auto;
    padding-top: 42vh;
}


.home-contents h1{
    font-size: 150px;
    font-weight: bolder;
}

.inner-divs{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.inner-divs a{
    text-decoration: none;
    color: white;
    transition: .6s;
}

.home-contents h1 span{
   border: 1px solid rgba(255, 128, 0, 0.758);
   border-radius: 100px;
}

.inner-divs a:hover{
    color: rgb(242, 236, 236);
}

.inner-divs-1{
    background-color: rgb(2, 77, 63);
    width: 100%;
    padding: 50px;
    font-size: 40px;
    color: white;
}

.inner-divs-2{
    background-color: rgb(13, 13, 13);
    width: 100%;
    padding: 50px;
    font-size: 40px;
    color: white;
}



@media screen and (max-width:1024px){
    .home-contents{
        width: 100%;
        margin: 0 auto;
        padding-top: 30vh;
    }

    .home-contents h1{
        font-size: 70px;
        font-weight: bolder;
    }

    .inner-divs-1, .inner-divs-2{
        width: 100%;
        padding: 50px;
        font-size: 27px;
        color: white;
    }
}